<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Solicitações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img
    src="https://i.pinimg.com/originals/b1/c5/97/b1c5978b0c11b175e902f9e3ba5e0e74.jpg"
    alt=""
  />
  <ion-card>
    <ion-card-content>
      <p>Address: Fake Street, 487</p>
      <p>Complement: Store 2</p>
      <p>Jardins Paulistano</p>
      <p>Zip code: 123456</p>
      <p>City name - State</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes </ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="success"> Criar solicitação</ion-button>

</ion-content>
