<ion-card>
  <ion-card-header *ngIf="hasHeader">Atualizações </ion-card-header>
  <ion-card-content>
    <ion-item lines="nome">

      <ion-icon
        name="hourglass-outline"
        slot="start"
        color="warning"
      ></ion-icon>
      <ion-label>Aguardando Atualizações</ion-label>
      <p>{{upDateAt}}</p>
    </ion-item>
    <ion-item lines="nome">
      <ion-label>
        <p>{{createdAt}}</p>
        <p>Notas: {{notes}} 0.01</p>
      </ion-label>
    </ion-item>
    <ion-button *ngIf="hasFooter" color="success" fill="clear" size="full">
      Ver tudo
    </ion-button>
  </ion-card-content>
</ion-card>
