<ion-card>
  <ion-card-header >Atualizações </ion-card-header>
  <ion-card-content>
    <ion-item lines="nome">
      <ion-icon
        name="hourglass-outline"
        slot="start"
        color="warning"
      ></ion-icon>
      <ion-label>Aguardando Atualizações</ion-label>
      <p>19/12/2023 11:47:00</p>
    </ion-item>
    <ion-item lines="nome">
      <ion-label>
        <p>Novas atualizações</p>
        <p>Notas: atualizações 0.01</p>
      </ion-label>
    </ion-item>
    <ion-button color="success" fill="clear" size="full">
      Ver status
    </ion-button>
  </ion-card-content>
