<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Todas solicitações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >


  <ion-card>
    <ion-card-header >Atualizações </ion-card-header>
    <ion-card-content>
      <ion-item lines="nome">
        <ion-icon
          name="hourglass-outline"
          slot="start"
          color="warning"
        ></ion-icon>
        <ion-label>Aguardando Atualizações</ion-label>
        <p>19/12/2023 11:47:00</p>
      </ion-item>
      <ion-item lines="nome">
        <ion-label>
          <p>Novas atualizações</p>
          <p>Notas: atualizações 0.01</p>
        </ion-label>
      </ion-item>
      <ion-button color="success" fill="clear" size="full">
        Ver status
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Atualizações </ion-card-header>
    <ion-card-content>
      <ion-item lines="nome">
        <ion-icon
          name="archive-outline"
          slot="start"
          color="secondary"
        ></ion-icon>
        <ion-label>Solicitação concluída</ion-label>
        <p>06/02/2024 11:47:00</p>
      </ion-item>
      <ion-item lines="nome">
        <ion-label>
          <p>Novas atualizações</p>
          <p>Notas: atualizações 0.01</p>
        </ion-label>
      </ion-item>
      <ion-button color="success" fill="clear" size="full">
        Ver status
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Atualizações </ion-card-header>
    <ion-card-content>
      <ion-item lines="nome">
        <ion-icon
          name="checkmark-circle-outline"
          slot="start"
          color="primary"
        ></ion-icon>
        <ion-label>Finalizado</ion-label>
        <p>21/04/2023 11:47:00</p>
      </ion-item>
      <ion-item lines="nome">
        <ion-label>
          <p>Novas atualizações</p>
          <p>Notas: atualizações 0.01</p>
        </ion-label>
      </ion-item >
      <ion-item lines="none">
        <ion-icon name="trophy" slot="start" color="warning"></ion-icon>
        <ion-label color="success">Prêmiado</ion-label>
      </ion-item>
      <ion-button color="success" fill="clear" size="full">
        Ver status
      </ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>
