<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Habitat Experience</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img
          src="https://www.valcucine.com/img/media_gallery/903_owner_-_freddy_hermann.jpg"
          alt="Freddy Herman"
        />
      </ion-avatar>
      <ion-label>
        <h1>Freddy Hermann</h1>
        <p>Qual o estatus do projeto?</p>
      </ion-label>
      <ion-badge slot="end" color="tertiary">22</ion-badge>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img
          src="https://www.valcucine.com/img/media_gallery/905_sales_-_roberson_marques.jpg"
          alt="Roberson Marques"
        />
      </ion-avatar>
      <ion-label>
        <h1>Roberson Marques</h1>
        <p>Fechamos mais um projeto!!</p>
      </ion-label>
      <ion-badge slot="end" color="tertiary">2</ion-badge>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img
          src="https://www.valcucine.com/img/media_gallery/896_administration_-_ana_paula.jpg"
          alt="Ana Paula"
        />
      </ion-avatar>
      <ion-label>
        <h1>Ana Paula</h1>
        <p>Pessoal, não irei falar novamente ...</p>
      </ion-label>
      <ion-badge slot="end" color="tertiary">5</ion-badge>
    </ion-item>
  </ion-list>
  <app-pickup-call-card [hasHeader]="true" [hasFooter]="true"></app-pickup-call-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>



</ion-content>
